body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #2E86C1;  /* Header Color */
    font-weight: bold;
}

.stButton>button {
    background-color: #2E86C1;
    color: white;
    border-radius: 5px;
}

.stDownloadButton>button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
